[Unit]
Description=Kokanybot program
After=multi-user.target

[Service]
ExecStart=/usr/bin/kokanybot
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
