[Unit]
Description=Kokanybot program
After=multi-user.target

[Service]
ExecStart=/usr/bin/kokanybot
StandardError=journal
StandardOutput=journal
StandardInput=null
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
