ACTION=="add", SUBSYSTEM=="video4linux", DRIVERS=="uvcvideo", SYMLINK+="rear-camera"
ACTION=="add", SUBSYSTEM=="video4linux", ATTRS{manufacturer}=="Jieli Technology",  SYMLINK+="front-camera"
